@import "~bootstrap/scss/bootstrap.scss";
* {
    box-sizing: border-box;
}
h1{
    color: white;
    font-family: 'Itim', cursive;
}
.top {
    border-radius: 5px;
    box-shadow: 0px 0px 34px 0px rgba(255,255,255,0.75);
}
.container {
    border-radius: 10px;
}
.todo {
    background-color: #B9BBBE;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: 'Itim', cursive;
}
.lista {
    box-shadow: 0px 0px 34px 0px rgba(255,255,255,0.75);
}